<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nymous Bubble
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


  <ion-searchbar placeholder="Cari Todolist" (keyup)="search($event)" ></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div *ngFor="let todolist of getTodolist ">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ todolist.name }}</ion-card-title>
        <ion-card-subtitle>



                  <ion-chip >
                    <ion-avatar>
                      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                    </ion-avatar>
                    <ion-label>{{ todolist.user_name }}</ion-label>
                  </ion-chip>
  
        </ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <p>
          {{ todolist.activity }}
        </p>
      </ion-card-content>
      

      
      <div *ngIf="id == todolist.user_id">
        <ion-fab-button (click)="ActionDel(todolist.id)"><ion-icon name="ellipsis-horizontal"></ion-icon></ion-fab-button>
      </div>
      <div *ngIf="id !== todolist.user_id">
        <ion-fab-button><ion-icon name="heart-outline"></ion-icon></ion-fab-button>
      </div>
      
    </ion-card>
  </div>

  <div *ngIf="getTodolist?.length == null">
    <ion-footer>In Process..</ion-footer>
  </div>
  <app-explore-container data="have Fun!"></app-explore-container>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="onclick()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>


    </ion-fab-list>
  </ion-fab>
</ion-content>