<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile 
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title>Name: {{ datas?.name }}</ion-card-title>
        <ion-card-subtitle>Email: {{ datas?.email }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
      <ion-item>
        <ion-button (click)="logOut()">LOG OUT</ion-button>
      </ion-item>
    </ion-card>
  </div>
  <app-explore-container  ></app-explore-container>
</ion-content>
